/* Css toàn bộ trang web */
@font-face {
    font-family: "MyCustomFont1";
    src: url("/assets/font/Preahvihear-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "MyCustomFont2";
    src: url("./assets/font/Poppins-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "MyCustomFont3";
    src: url("./assets/font/Poppins-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "MyCustomFont1", sans-serif;
}

/* CSS NavBar */
#header {
    background-color: #1A0B2E;
    width: 100%;
    height: 5em;
    margin: 0;
}

#navbar {
    max-width: 1200px;
    width: 90%;
    height: 5em;
    margin: 0 auto;
    padding: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#logoContainer {
    margin: auto 0;
    width: 6%;
}

#logo {
    max-width: 35px;
    max-height: 39px;
    font-weight: 4px;
}

#divider {
    width: 40%;
}

.linkContainer {
    width: 18%;
    text-align: center;
}

.link {
    color: #FFFFFF;
    font-size: 20px;
    text-decoration: none;
}

/* CSS Avatar */
body {
    background-color: #0A001A;
    width: 100%;
}

#profile {
    width: 90%;
    max-width: 1200px;
    margin: 2em auto;
}

#name-intro {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    padding: 5em 0;
}

#avatarContainer {
    margin: 2em 0 0 10em;
    display: flex;
    flex-direction: row;
    z-index: 1;
    position: relative;
}

#arrowIcon {
    max-height: 81.86px;
    color: #FFFFFF;
}

.helloPart1 {
    color: #FFFFFF;
    font-size: 19px;
}

.helloPart2 {
    color: #7127BA;
    font-size: 19px;
}

#font-size-designer {
    font-size: 17px;
    color: #FFFFFF;
}

.font-size-judges {
    font-size: 50px;
    color: #FFFFFF;
}

#containerAvatar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* height: 300px; */
}

.name-intro-avatar {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-top: -4em;
    background: radial-gradient(circle, #61398F 0%, #100022 60%, #0A001A 0%);
}

.name-intro-avatar img {
    width: 9em;
    height: 10em;
    border-radius: 50%;
}

.context {
    margin: 0 1em;
    vertical-align: middle;
}

#row3 {
    display: inline-flex;
    align-items: center;
}

.text {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-image: url(/assets/img/Ellipse.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    color: #7127BA;
    max-width: 188.58px;
    max-height: 57.9px;
    font-size: 50px;
}

#font-size-reason {
    color: #FFFFFF;
    font-size: 11px;
}

.font-size-currently {
    font-size: 21px;
}

.font-size-self-taught {
    color: #FFFFFF;
    font-size: 1em;
    font-weight: 400;
    margin-top: 3em;
    flex-wrap: wrap;
}

.inline-text {
    display: inline;
    color: #FFFFFF;
}

.self-intro {
    margin: 5em 0;
    box-sizing: border-box;
}

.self-intro-text {
    color: #1877F2;
    text-decoration: none;
}

.self-intro-social {
    vertical-align: middle;
}

/* CSS Work Experience */
#work-exerience {
    margin: 5em 0;
    background: radial-gradient(circle, #61398F 0%, #100022 45%, #0A001A 0%);
}

#work-exerience-container {
    padding: 8em 0;
}

#experience-heading {
    color: #FFFFFF;
    font-size: 40px;
}

#work-experience {
    display: flex;
    flex-direction: column;
}

.experienceRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container-experience-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #693B93;
    min-width: 200px;
    width: 45%;
    margin: 1em;
    padding: 1em;
    border-radius: 15px;
    background: linear-gradient(135deg, #2A0E49 0%, #190A32 50%, #100022 100%);
    box-shadow: 0px 0px 15px rgba(138, 43, 226, 0.2);
}

.whiteText {
    color: #FFFFFF;
}

.job-description {
    font-size: 26px;
}

.experienceIcon {
    width: 25%;
    height: 100%;
    margin: 1em;
    object-fit: contain;
}

.poppin-font-heading {
    font-size: 26px;
    font-family: "MyCustomFont2", serif;
    color: #FFFFFF;
}

.poppin-medium-para {
    font-size: 0.8em;
    font-family: "MyCustomFont3", serif;
    color: #FFFFFF;
}

.poppin-medium-button {
    background-color: #2C1250;
    color: #FFFFFF;
    border: 1px solid #693B93;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 1em;
    font-family: "MyCustomFont3", serif;
    font-size: 10px;
    cursor: pointer;
}

/* CSS  Cross - Functional */
#cross-functional {
    margin: 5em 0;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#container-functional-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    flex-wrap: wrap;
    width: 500px;
    min-width: 240px;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1.5em;
    border: 1px solid #ccc;
    display: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
    border: 1px solid #000000;
    border-radius: 1em;
}

#popupTitle {
    border-bottom: 1px solid #000000;
}

.popup-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 0;
}

.bold-first-word {
    font-weight: bold;
}

.language-logo {
    cursor: pointer;
    padding: 10px;
    text-align: center;
}

#container-functional-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}

#textPart1 {
    font-size: 24px;
}

#textPart2 {
    font-size: 24px;
    color: #A362FF;
}

#textPart3 {
    font-size: 17px;
}

.language-logo {
    background-color: #251C31;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.same-size-logo {
    width: 25px;
    height: 25px;
    object-fit: contain;
}

#container-language-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 180px;
    margin: 30%;
    border-radius: 50%;
    background: radial-gradient(circle, #301080 0%, #7840AD 100%);
}

#skill-branch {
    width: 75%;
    height: 450px;
    margin-top: -1em;
}

/* CSS cho example project */
#example-project {
    display: flex;
    flex-direction: column;
    margin: 5em 0;
}

.example-project-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 2em 0;
    background: radial-gradient(circle at 70% center, #61398F 0%, #100022 35%, #0A001A 0%);
    padding: 8em 0;
}

.example-project-row-left {
    background: radial-gradient(circle at 30% center, #61398F 0%, #100022 35%, #0A001A 0%);
}

.container-example-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1em 0;
}

.container-example-right {
    align-items: flex-end;
    text-align: right;
}

.example-heading {
    color: #9857D3;
    font-size: 16px;
    font-family: "MyCustomFont3";
}

.example-title {
    color: #CCD6F6;
    font-size: 34px;
    font-family: "MyCustomFont3";
}

.container-example-para {
    width: 120%;
    background: linear-gradient(135deg, rgba(42, 14, 73, 0.2) 0%, rgba(25, 10, 50, 0.8) 100%);
    backdrop-filter: blur(10px);
    /* Hiệu ứng mờ nền */
    border: 1px solid rgba(255, 255, 255, 0.2);
    /* Viền sáng nhẹ */
    color: #ffffff;
    /* Màu chữ trắng */

    border-radius: 1em;
    position: relative;
    z-index: 1;
}

.example-para {
    color: #CCD6F6;
    font-size: 0.8em;
    font-family: "MyCustomFont3";
    margin: 1em;
    padding: 1em;
    text-align: left;
}

.container-example {
    position: relative;
    width: 642.64px;
    height: 380.17px;
    overflow: hidden;
    z-index: 0;
}

/* 
.example-project-img {
    background: radial-gradient(circle, #61398F 0%, #100022 60%, #0A001A 100%);
    margin: 5em 0;
} */

.container-example-image {
    width: 50%;
    border: 1px solid #000000;
    border-radius: 1em;
    background-color: #2B0B3A;
    display: flex;
    align-self: flex-end;
    margin-bottom: 3em;
}

.container-example-image img {
    width: 100%;
    padding: 2em 0 0 2em;
}

.example-project-image-left img {
    width: 100%;
    padding: 2em 2em 0 0;
}

.container-example-icon {
    margin: 1em;
}

.container-example-icon img {
    width: 30px;
    height: 30px;
}

.profile-contact {
    margin: 10em 0;
    color: #FFFFFF;
}

#footer {
    max-width: 1200px;
    width: 90%;
    margin: 5em auto;
    color: #FFFFFF;
}

.footer-icon {
    margin: 0 1em 0 0;
}

@media (max-width: 1024px) {
    #work-exerience {
        background: radial-gradient(circle, #61398F 0%, #100022 50%, #0A001A 0%);
    }

    .example-para {
        font-size: 0.6em;
    }

    .example-title {
        font-size: 1.5em;
    }

    .same-size-logo {
        width: 20px;
        height: 20px;
    }

    .font-size-judges {
        font-size: 2em;
    }

    .poppin-font-heading {
        font-size: 1em;
    }

    #skill-branch {
        width: 80%;
        height: 300px;
        margin-top: -1em;
    }

    #container-functional-row {
        width: 100%;
    }

    .container-experience-box {
        width: 100%;
    }

    .name-intro-avatar {
        width: 250px;
        height: 250px;
        margin-top: -2em;
        text-align: center;
    }

    .name-intro-avatar img {
        width: 6em;
        height: 7em;
    }
}

@media (max-width: 914px) {
    .link {
        font-size: 15px;
    }

    #work-exerience {
        background: radial-gradient(circle, #61398F 0%, #100022 35%, #0A001A 0%);
    }

    .example-para {
        font-size: 0.1em;
    }

    .example-project-row {
        background: radial-gradient(circle at 60% center, #61398F 0%, #100022 35%, #0A001A 0%);
    }

    #header {
        height: 4.5em;
    }

    #navbar {
        height: 4.5em;
    }

    .example-project-row-left {
        background: radial-gradient(circle at 40% center, #61398F 0%, #100022 35%, #0A001A 0%);
    }
}